In [ ]:
import sqlite3
import pandas as pd

In [ ]:
conn = sqlite3.connect('students.db')
cur = conn.cursor()

In [ ]:
def display_as_table(data, headers):
    df = pd.DataFrame(data=data, columns=[i[0] for i in headers])
    return df

In [ ]:
cur.execute("CREATE TABLE Students_1 (Name varchar(255), GPA float, Major varchar(255), Year integer)")

OperationalError: table Students_1 already exists

In [ ]:
cur.execute("SELECT * FROM Students_1")
display_as_table(cur.fetchall(),cur.description)

In [ ]:
#Create a table from another table

In [ ]:
cur.execute('''INSERT INTO Students_1 VALUES
    ('Yoda', 3.8, 'Math', 3),
    ('Vader', 2.8, 'Math', 1),
    ('Rey', 3.9, 'Physics', 2),
    ('Kylo', 2.9, 'History', 3),
    ('Snoke', 3.5, 'Art', 4),
    ('Finn', 3.2, 'Art', 3),
    ('Han', 3.7, 'Math', 2),
    ('Luke', 3.0, 'History', 1)''')

In [ ]:
cur.execute("CREATE TABLE NewStudents as SELECT * FROM Students_1")

In [ ]:
cur.execute("SELECT * FROM NewStudents")

In [ ]:
display_as_table(cur.fetchall(),cur.description)

In [ ]:
cur.execute("CREATE TABLE NewStudents_2 AS SELECT * FROM NewStudents WHERE 1=2")

In [ ]:
cur.execute("SELECT * FROM NewStudents_2")
display_as_table(cur.fetchall(),cur.description)

In [ ]:
#Add a column to the database
cur.execute("ALTER TABLE Students ADD COLUMN InState bit(1)")

In [ ]:
cur.execute("SELECT * FROM Students")
display_as_table(cur.fetchall(),cur.description)

In [ ]:
#Rename Table

cur.execute("ALTER TABLE Students RENAME to StudentData")

In [ ]:
cur.execute("SELECT * FROM StudentData")
display_as_table(cur.fetchall(),cur.description)

In [ ]:
#Some SQL environments will allow one to Drop a column

In [ ]:
#Drop Table