In [1]:
! pip install pandasql

WARNING: The directory '/home/jovyan/.cache/pip' or its parent directory is not owned or is not writable by the current user. The cache has been disabled. Check the permissions and owner of that directory. If executing pip with sudo, you should use sudo's -H flag.
Collecting pandasql
  Downloading pandasql-0.7.3.tar.gz (26 kB)
Requirement already satisfied: numpy in /opt/conda/lib/python3.9/site-packages (from pandasql) (1.19.5)
Requirement already satisfied: pandas in /opt/conda/lib/python3.9/site-packages (from pandasql) (1.2.4)
Requirement already satisfied: sqlalchemy in /opt/conda/lib/python3.9/site-packages (from pandasql) (1.4.18)
Requirement already satisfied: python-dateutil>=2.7.3 in /opt/conda/lib/python3.9/site-packages (from pandas->pandasql) (2.8.1)
Requirement already satisfied: pytz>=2017.3 in /opt/conda/lib/python3.9/site-packages (from pandas->pandasql) (2021.1)
Requirement already satisfied: six>=1.5 in /opt/conda/lib/python3.9/site-packages (from python-dateutil>=2.7.3->pandas->pandasql) (1.16.0)
Requirement already satisfied: greenlet!=0.4.17 in /opt/conda/lib/python3.9/site-packages (from sqlalchemy->pandasql) (1.1.0)
Building wheels for collected packages: pandasql
  Building wheel for pandasql (setup.py) ... done
  Created wheel for pandasql: filename=pandasql-0.7.3-py3-none-any.whl size=26818 sha256=1e9b51332058fe9c23644c60dd4f007e5174cd097742835c400b65b7c4a9768c
  Stored in directory: /tmp/pip-ephem-wheel-cache-2kjym3tl/wheels/63/e8/ec/75b1df467ecf57b6ececb32cb16f4e86697cbfe55cb0c51f07
Successfully built pandasql
Installing collected packages: pandasql
Successfully installed pandasql-0.7.3
WARNING: Running pip as root will break packages and permissions. You should install packages reliably by using venv: https://pip.pypa.io/warnings/venv

In [2]:
import pandas as pd
from pandasql import sqldf
from random import choice, random

In [3]:
major_choices = ['English', 'Science', 'Mathematics', 'Physics', 'Computer Science', 'History', 'Chemistry', 'Biology', 'Art', 'Sociology']
year_choice = [1, 2, 3, 4, 4]

major_gpa_avg = {major : random() + 2.5 for major in major_choices}

n = 100000

names = [''.join([ choice('abcdefghijklmnopqrstuvwxyz') for _ in range(7) ]) for _ in range(n)]
majors = [choice(major_choices) for _ in range(n)]
gpas = [min(major_gpa_avg[m] + random()/4.0, 4.0) for m in majors]
years = [choice(year_choice) for _ in range(n)]

student_data = pd.DataFrame( data = zip(names, gpas, majors, years), columns=['Name', 'GPA', 'Major', 'Year'] )

student_data['GPA'] = student_data.GPA.round(2)

In [6]:
selected_data = sqldf('SELECT * FROM student_data LIMIT 20;', globals())
print(selected_data)

       Name   GPA             Major  Year
0   whatpdl  3.48           Biology     3
1   lgffbuy  3.02  Computer Science     4
2   kwpqrsr  3.41         Sociology     4
3   rfdnvff  3.12               Art     4
4   gcauyql  3.15           English     1
5   mawrqsf  2.98           History     4
6   kbceixw  3.57           Biology     1
7   elwfzwk  3.48         Sociology     2
8   jyinyoe  3.53           Physics     3
9   vwivfmw  3.50           Physics     2
10  tfhkcxt  3.51           Biology     4
11  vrhndqu  3.68           Biology     2
12  ytopxxe  3.25         Chemistry     4
13  tqebtpd  3.08               Art     4
14  klkjdhp  2.69           Science     4
15  lvouteg  2.97           English     2
16  zrmuwab  2.93  Computer Science     3
17  dfzgkda  3.23               Art     2
18  bqqhwrw  3.68           Physics     4
19  rjzlpjx  3.12           English     4

In [9]:
statement ='SELECT NAME, GPA FROM student_data LIMIT 20;'
selected_data = sqldf(statement, globals())
print (selected_data)

       Name   GPA
0   whatpdl  3.48
1   lgffbuy  3.02
2   kwpqrsr  3.41
3   rfdnvff  3.12
4   gcauyql  3.15
5   mawrqsf  2.98
6   kbceixw  3.57
7   elwfzwk  3.48
8   jyinyoe  3.53
9   vwivfmw  3.50
10  tfhkcxt  3.51
11  vrhndqu  3.68
12  ytopxxe  3.25
13  tqebtpd  3.08
14  klkjdhp  2.69
15  lvouteg  2.97
16  zrmuwab  2.93
17  dfzgkda  3.23
18  bqqhwrw  3.68
19  rjzlpjx  3.12

In [11]:
statement = 'SELECT DISTINCT Major FROM student_data;'
selected_data = sqldf(statement, globals())
print(selected_data)

              Major
0           Biology
1  Computer Science
2         Sociology
3               Art
4           English
5           History
6           Physics
7         Chemistry
8           Science
9       Mathematics

In [14]:
statement = 'SELECT COUNT (DISTINCT Major) FROM student_data'
selected_data = sqldf(statement, globals())
print(selected_data)

   COUNT (DISTINCT Major)
0                      10

In [16]:
statement = 'SELECT COUNT (DISTINCT Major) AS NumMajors FROM student_data'
selected_data = sqldf(statement, globals())
print(selected_data)

   NumMajors
0         10

In [17]:
statement = 'SELECT DISTINCT Major, Year FROM student_data'
selected_data = sqldf(statement, globals())
print(selected_data)

               Major  Year
0            Biology     3
1   Computer Science     4
2          Sociology     4
3                Art     4
4            English     1
5            History     4
6            Biology     1
7          Sociology     2
8            Physics     3
9            Physics     2
10           Biology     4
11           Biology     2
12         Chemistry     4
13           Science     4
14           English     2
15  Computer Science     3
16               Art     2
17           Physics     4
18           English     4
19           History     2
20           English     3
21  Computer Science     1
22       Mathematics     4
23       Mathematics     3
24         Chemistry     2
25  Computer Science     2
26           History     3
27           Physics     1
28       Mathematics     2
29         Chemistry     1
30           History     1
31           Science     3
32       Mathematics     1
33         Chemistry     3
34           Science     2
35               Art     1
36         Sociology     3
37           Science     1
38         Sociology     1
39               Art     3