In [1]:
! pip install pandasql

import pandas as pd
from pandasql import sqldf
from random import choice, random

major_choices = ['English', 'Science', 'Mathematics', 'Physics', 'Computer Science', 'History', 'Chemistry', 'Biology', 'Art', 'Sociology']
year_choice = [1, 2, 3, 4, 4]

major_gpa_avg = {major : random() + 2.5 for major in major_choices}

n = 100000

names = [''.join([ choice('abcdefghijklmnopqrstuvwxyz') for _ in range(7) ]) for _ in range(n)]
majors = [choice(major_choices) for _ in range(n)]
gpas = [min(major_gpa_avg[m] + random()/4.0, 4.0) for m in majors]
years = [choice(year_choice) for _ in range(n)]

student_data = pd.DataFrame( data = zip(names, gpas, majors, years), columns=['Name', 'GPA', 'Major', 'Year'] )

student_data['GPA'] = student_data.GPA.round(2)

In [8]:
statement = "SELECT * FROM student_data WHERE Major = 'Art' Limit 20;"
selected_data = sqldf(statement, globals())
print(selected_data)

       Name   GPA Major  Year
0   lsevqqz  3.41   Art     4
1   carhcoy  3.49   Art     1
2   bgckolx  3.31   Art     4
3   nhqurkx  3.40   Art     3
4   ncdfxbd  3.27   Art     4
5   bxtbkks  3.37   Art     1
6   iiedwsc  3.31   Art     4
7   heznnyg  3.32   Art     4
8   taehegz  3.27   Art     2
9   orjjtjc  3.36   Art     1
10  rgmkhbe  3.41   Art     2
11  gktthoy  3.47   Art     3
12  oxlqyvi  3.37   Art     4
13  oznqqog  3.39   Art     2
14  hcymuqn  3.29   Art     1
15  rwdpngw  3.28   Art     4
16  kqspipi  3.37   Art     4
17  olwdvni  3.30   Art     1
18  nldfvts  3.31   Art     4
19  ainlxuo  3.31   Art     4

In [11]:
statement = "SELECT GPA FROM student_data WHERE Major = 'Art' LIMIT 20;"
selected_data = sqldf(statement, globals())
print(selected_data)

     GPA
0   3.41
1   3.49
2   3.31
3   3.40
4   3.27
5   3.37
6   3.31
7   3.32
8   3.27
9   3.36
10  3.41
11  3.47
12  3.37
13  3.39
14  3.29
15  3.28
16  3.37
17  3.30
18  3.31
19  3.31

In [12]:
statement = "SELECT * FROM student_data WHERE Major = 'Art' or Major = 'Business' LIMIT 20;"
selected_data = sqldf(statement, globals())
print(selected_data)

       Name   GPA Major  Year
0   lsevqqz  3.41   Art     4
1   carhcoy  3.49   Art     1
2   bgckolx  3.31   Art     4
3   nhqurkx  3.40   Art     3
4   ncdfxbd  3.27   Art     4
5   bxtbkks  3.37   Art     1
6   iiedwsc  3.31   Art     4
7   heznnyg  3.32   Art     4
8   taehegz  3.27   Art     2
9   orjjtjc  3.36   Art     1
10  rgmkhbe  3.41   Art     2
11  gktthoy  3.47   Art     3
12  oxlqyvi  3.37   Art     4
13  oznqqog  3.39   Art     2
14  hcymuqn  3.29   Art     1
15  rwdpngw  3.28   Art     4
16  kqspipi  3.37   Art     4
17  olwdvni  3.30   Art     1
18  nldfvts  3.31   Art     4
19  ainlxuo  3.31   Art     4

In [13]:
statement = "SELECT * FROM student_data WHERE Major = 'Art' and GPA >3.0 LIMIT 20;"
selected_data = sqldf(statement, globals())
print(selected_data)

       Name   GPA Major  Year
0   lsevqqz  3.41   Art     4
1   carhcoy  3.49   Art     1
2   bgckolx  3.31   Art     4
3   nhqurkx  3.40   Art     3
4   ncdfxbd  3.27   Art     4
5   bxtbkks  3.37   Art     1
6   iiedwsc  3.31   Art     4
7   heznnyg  3.32   Art     4
8   taehegz  3.27   Art     2
9   orjjtjc  3.36   Art     1
10  rgmkhbe  3.41   Art     2
11  gktthoy  3.47   Art     3
12  oxlqyvi  3.37   Art     4
13  oznqqog  3.39   Art     2
14  hcymuqn  3.29   Art     1
15  rwdpngw  3.28   Art     4
16  kqspipi  3.37   Art     4
17  olwdvni  3.30   Art     1
18  nldfvts  3.31   Art     4
19  ainlxuo  3.31   Art     4

In [16]:
statement = "SELECT AVG(GPA) as AvgGPA FROM student_data WHERE Major != 'Art' and Year >= 3;"
selected_data = sqldf(statement, globals())
print(selected_data)

     AvgGPA
0  2.810966

In [17]:
statement = "SELECT * FROM student_data WHERE Major LIKE '%ry' LIMIT 20;"
selected_data = sqldf(statement, globals())
print(selected_data)

       Name   GPA      Major  Year
0   sptpdwx  2.81    History     1
1   chvvrry  2.64    History     3
2   qqbqnps  2.65    History     3
3   czxxfwp  2.66    History     4
4   xcwskgw  2.79    History     4
5   vegikqs  2.89  Chemistry     4
6   iunxcfn  2.74    History     4
7   obtgubw  3.02  Chemistry     3
8   tytlgha  2.81  Chemistry     4
9   vferezf  2.69    History     4
10  zaekfik  2.82    History     4
11  txjpvsv  2.61    History     1
12  dbtpolj  2.61    History     4
13  lwyytmt  2.73    History     4
14  rqifqsn  2.71    History     4
15  hvibgai  2.91  Chemistry     4
16  llvgljg  3.01  Chemistry     4
17  mwhwrch  2.72    History     4
18  dfuhgvp  2.98  Chemistry     2
19  basondx  2.91  Chemistry     4